<div class="row">
  <%- if @drink.errors.present? -%>
    <div class="large-12 alert-box alert" data-alert>
      <ul>
        <%- @drink.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <div class="large-12">
    <h1>New Drink</h1>

    <%= form_for @drink do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :featured %><br>
      <%= f.check_box :featured %><br>

      <%= f.label :category %>
      <%= f.collection_select :category, @categories, :id, :name %>

      <%= f.label :alcohol_level %>
      <%= f.collection_radio_buttons :alcohol_level, Drink::ALCOHOL_LEVELS, :to_s, :to_s %>

      <%= f.submit "Add Drink" %>

    <%- end -%>
    <a href="/drinks">back to all drinks</a>

  </div>
</div>
